#!/system/bin/sh

auto_updateSubcript="false"
update_subcriptInterval="0 5 * * *"
auto_updateGeoIP="true"
auto_updateGeoSite="true"
update_geoXInterval="0 5 * * 7" # 每周日的半夜5点更新GeoX
Subcript_url="" # 不用providers的订阅连接填这里 再把上面的开关打开 默认每天凌晨5点更新
GeoIP_dat_url="https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geoip.dat"
Country_mmdb_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/Country-only-cn-private.mmdb"
GeoSite_url="https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"
#规则文件 默认在 /data/clash/rule_providers/ 目录下
proxy_file="AppProxy.yaml"
direct_file="AppDirect.yaml"
#走代理的app
app_proxy="
com.android.vending
com.google.android.gms
"
#走直连的app 请填写包名
app_direct="
com.tencent.mobileqq
com.tencent.mm
com.eg.android.AlipayGphone
com.unionpay
"
#
# 上面的是给你操作的，下面的不懂就别乱改
# Clash运行时别动下方的配置，如动了出问题重启手机
ipv6="false"
pref_id="5000"
mark_id="2021"
table_id="2021"
mode="blacklist"
static_dns="8.8.8.8"
Clash_bin_name="clash"
Clash_data_dir="/data/clash"
Clash_run_path="${Clash_data_dir}/run"
busybox_path="/data/adb/magisk/busybox"
CFM_logs_file="${Clash_run_path}/run.logs"
template_file="${Clash_data_dir}/template"
appuid_file="${Clash_run_path}/appuid.list"
Clash_pid_file="${Clash_run_path}/clash.pid"
Clash_bin_path="/data/adb/modules/Clash_For_Magisk/system/bin/${Clash_bin_name}"
Clash_config_file="${Clash_data_dir}/config.yaml"
system_packages_file="/data/system/packages.list"
temporary_config_file="${Clash_run_path}/config.yaml"
filter_packages_file="${Clash_data_dir}/packages.list"
Clash_GeoSite_file="${Clash_data_dir}/GeoSite.dat"
geodata_mode=$(grep "geodata-mode" ${template_file} | awk -F ': ' '{print $2}')
if "${geodata_mode}"; then
    Clash_GeoIP_file="${Clash_data_dir}/GeoIP.dat"
    GeoIP_url=${GeoIP_dat_url}
else
    Clash_GeoIP_file="${Clash_data_dir}/Country.mmdb"
    GeoIP_url=${Country_mmdb_url}
fi

# 自动绕过本机ip,filter_local请勿轻易打开,打开后有可能引起设备软重启,如你手机有获取到公网ip.
# 优先重启cfm,即可绕过本机ip,检查是否正常,次要选择尝试打开filter_local,如遇设备软重启,请关闭.
filter_local="false"
#请不要轻易打开. 不要轻易打开,不要轻易打开.

Cgroup_memory_path=""
# 留空则自动获取
Cgroup_memory_limit=""
# 限制内存使用，量力而行，限制太死会造成CPU占用过高，-1则不限制，留空则不操作
# 更新限制请保存后执行 /data/clash/scripts/clash.tool -l
Clash_permissions="6755"
Clash_user_group="root:net_admin"
iptables_wait="iptables -w 100"
ip6tables_wait="ip6tables -w 100"
Clash_user=$(echo ${Clash_user_group} | awk -F ':' '{print $1}')
Clash_group=$(echo ${Clash_user_group} | awk -F ':' '{print $2}')
Clash_dns_port=$(grep "listen" ${template_file} | awk -F ':' '{print $3}')
Clash_enhanced_mode=$(grep "enhanced-mode" ${template_file} | awk -F ': ' '{print $2}')
Clash_tproxy_port=$(grep "tproxy-port" ${template_file} | awk -F ': ' '{print $2}')
Clash_tun_status=$(awk -F ': ' '/^tun: *$/{getline; print $2}' ${template_file})
Clash_auto_route=$(grep "auto-route" ${template_file} | awk -F ': ' '{print $2}')
tun_device=$(awk -F ': ' '/ +device: /{print $2}' ${template_file})
if [ "${Clash_tun_status}" == "" ]; then
    Clash_tun_status="false"
fi
if [ "${Clash_auto_route}" == "" ]; then
    Clash_auto_route="true"
fi
if [ "${tun_device}" == "" ]; then
    tun_device="Meta"
fi
reserved_ip=(0.0.0.0/8 10.0.0.0/8 100.64.0.0/10 127.0.0.0/8 169.254.0.0/16 172.16.0.0/12 192.0.0.0/24 192.0.2.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 255.255.255.255/32 240.0.0.0/4)
reserved_ip6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 fc00::/7 fe80::/10 ff00::/8)
#Clash_auto_route="false" 有的人是true，不知道是什么意思，好想知道啥意思了，就是template没写时候默认是啥